@model IEnumerable<HTshop.Models.THELOAI>
<div class="sidebar_section">
    <div class="sidebar_title">
        <h5>ĐỒ BỘ</h5>
    </div>
    <ul class="sidebar_categories">
        @foreach (var item in Model)
        {
            if (@item.MaLoai == ViewBag.id)
            {
                <li class="active">
                    <a href="@Url.Action("SPtheoLoai", "Product", new { id = item.MaLoai })">
                        <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                        @item.TheLoai1
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action("SPtheoLoai", "Product", new { id = item.MaLoai })">
                        @item.TheLoai1
                    </a>
                </li>
            }
        }
    </ul>
</div>