@model PagedList.IPagedList<HTshop.Models.SANPHAM>
@using PagedList.Mvc
@using PagedList
@using HTshop.Models
<style>
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

        .pagination a {
            display: inline-block;
            padding: 5px 10px;
            border: 1px solid #ddd;
            margin: 0 5px;
            text-decoration: none;
            color: #333;
        }
        .pagination a:hover{
            background-color: black;
            color:white;
        }
    a:hover .product-item {
        background-color: aliceblue;
    }
</style>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageProduct.cshtml";
}
<div class="product-grid">
    @foreach (var sp in Model)
    {
        <a href="@Url.Action("ChiTiet", "Product", new {id=sp.MaSP})">
            <div class="product-item men">
                <div class="product discount product_filter">
                    <div class="product_image">
                        <img src="~/QuanAo/@sp.HinhAnh" alt="product image" height="219" width="218" />
                    </div>
                    <div class="favorite favorite_left"></div>
                    @if (sp.MaKM != 2 && sp.MaKM !=null)
                    {
                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                            <span>@sp.GiaTriKhuyenMai</span>
                        </div>
                    }
                    <div class="product_info">
                        <h6 class="product_name">@sp.TenSP</h6>
                        @if (sp.MaKM != null && sp.MaKM !=2)
                        {
                            <div class="product_price">@String.Format("{0:#,##0}", sp.GiaSauKhuyenMai) VNĐ<span>@String.Format("{0:#,##0}", sp.Gia) VNĐ</span></div>
                        }
                        else
                        {
                            <div class="product_price">@String.Format("{0:#,##0}", sp.Gia) VNĐ<span></span></div>
                        }
                    </div>
                </div>
            </div>
        </a>
     }
</div>

<div style="text-align:center"><span style="color:red">@(Model.PageCount<Model.PageNumber?0:Model.PageNumber)</span>/@Model.PageCount</div>
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang {
        display: inline;
        text-align: center;
    }
</style>


