@model IEnumerable<HTshop.Models.DONHANG>

@{
    ViewBag.Title = "TinhTrangDH";
    Layout = "~/Views/Shared/_LayoutPageTrangChu.cshtml";
}
<div style="margin-top: 150px;margin-left:40px">@Html.ActionLink("Trở lại", "Index", "Home", new { @class = "btn btn-info btn-sm" })</div>
<table class="table table-striped" style="margin-top: 5px;width:80%;margin-left:auto;margin-right:auto ">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.MaDH)</th>
            <th>@Html.DisplayNameFor(model => model.NgayDat)</th>
            <th>@Html.DisplayNameFor(model => model.NgayGiao)</th>
            <th>@Html.DisplayNameFor(model => model.DaThanhToan)</th>
            <th>@Html.DisplayNameFor(model => model.TinhTrang)</th>
            <th>@Html.DisplayNameFor(model => model.TongTien)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.MaDH)</td>
                <td>@Html.DisplayFor(modelItem => item.NgayDat)</td>
                <td>@Html.DisplayFor(modelItem => item.NgayGiao)</td>
                @if (item.DaThanhToan == true)
                {
                    <td>True</td>
                }
                else
                {
                    <td>False</td>
                }
                <td>@Html.DisplayFor(modelItem => item.TINHTRANG1.tinhtranggiaohang)</td>

                <td class="text-center">@String.Format("{0:#,##0}", item.TongTien)</td>
                <td>
                    @Html.ActionLink("Chi Tiết", "DetailsDonHang", new { id = item.MaDH }, new { @class = "btn btn-info btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>


