@model IEnumerable<HTshop.Models.SANPHAM>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="section_title new_arrivals_title">
                <h2>Gợi Ý Cho Bạn</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="product_slider_container">
                <div class="owl-carousel owl-theme product_slider">
                    @foreach (var sp in Model)
                    {
                        <a href="@Url.Action("ChiTiet", "Product", new {id=sp.MaSP})">
                            <div class="owl-item product_slider_item">
                                <div class="product-item">
                                    <div class="product discount">
                                        <div class="product_image">
                                            <img src="~/QuanAo/@sp.HinhAnh" alt="">
                                        </div>
                                        <div class="favorite favorite_left"></div>
                                        @if (sp.MaKM != 2 && sp.MaKM != null)
                                        {
                                            <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                                <span>@sp.GiaTriKhuyenMai</span>
                                            </div>
                                        }
                                    <div class="product_info">
                                        <h6 class="product_name">@sp.TenSP</h6>
                                        @if (sp.MaKM != 2 && sp.MaKM != null)
                                        {
                                            <div class="product_price">@String.Format("{0:#,##0}", sp.GiaSauKhuyenMai) VNĐ<span>@String.Format("{0:#,##0}", sp.Gia) VNĐ</span></div>
                                        }
                                        else
                                        {
                                            <div class="product_price">@String.Format("{0:#,##0}", sp.Gia) VNĐ<span></span></div>
                                        }
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    }
                    <!-- Slide 1 -->
                    <!-- Slider Navigation -->

                    <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>